/*------------------------------------
	Avatar
------------------------------------*/
.fx-avatar {
	position: relative;
	display: inline-block;
	width: 3.125rem;
	height: 3.125rem;
		
	&.fx-avatar {
		&-xs {
			width: 1.5rem;
			height: 1.5rem;
		}
		&-sm {
			width: 2rem;
			height: 2rem;
		}
		&-lg {
			width: 5rem;
			height: 5rem;
		}
		&-xl {
			width: 8rem;
			height: 8rem;
		}
	}

	// Rounded
	&.fx-avatar-rounded {
		border-radius: $FX-border-radius;
	}

	// Bordered style
	&.fx-avatar-bordered {
		border: 4px solid #ffffff;
	}
}