/*------------------------------------
    Spinners
------------------------------------*/

// Config
$FX-spinner-config: (size: (sm: 16px, md: 20px, lg: 24px));

// Spinner Default
.fx-spinner {
    position: relative;

    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 50%;
    }

    // Sizes  	
    &.fx-spinner-sm {
        @include FX__spinner_size(sm);
    }

    @include FX__spinner_size(md);

    &.fx-spinner-lg {
        @include FX__spinner_size(lg);
    }

    // Default Style
    &:before {
        animation: FX__spinner .5s linear infinite;
    }

    // State Colors 
    @each $name,
    $color in $FX-colors-state {
        &.fx-spinner-#{$name} {
            &:before {
                border: 2px solid FX__get($color, base);
                border-right: 2px solid transparent;
            }
        }
    }

    // Input mode
    &.fx-spinner-input {
        &.fx-spinner-right {
            &:before {
                left: auto;
                right: $input_btn_padding_x;
            }
        }

        &.fx-spinner-left {
            &:before {
                right: auto;
                left: $input_btn_padding_x;
            }
        }
    }

    // Spinner Default
    &.fx-spinner-circ {

        // Default Style
        &:before {
            animation: FX__spinner .5s linear infinite;
        }

        // State Colors 
        @each $name,
        $color in $FX-colors-state {
            &.fx-spinner-#{$name} {
                &:before {
                    border: 2px solid lighten(FX__get($color, base), 30%);
                    border-top-color: darken(FX__get($color, base), 3%);
                }
            }
        }
    }
}

// Animations
@keyframes FX__spinner {
    to {
        transform: rotate(360deg);
    }
}