/*------------------------------------
    Switch
------------------------------------*/
// Component Base
@mixin FX__switch_base() {
    .fx-switch  {
        // Base
        display: inline-block;
        font-size: 1rem;

        input:empty {
            margin-left: -999px;
            height: 0;
            width: 0;
            overflow: hidden;
            position: absolute;
            opacity: 0;
        } 

        input:empty ~ span {
            display: inline-block;
            position: relative;
            width: 1px;
            text-indent: 0;
            cursor: pointer;
            user-select: none;
        }

        input:empty ~ span:before, 
        input:empty ~ span:after {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: ' ';
            -webkit-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
        }

        // State icons
        &.fx-switch-icon {
            input:empty ~ span:after {
                @include FX__fontawsome_icon('\f00d');
                color:#b7b7b9;
            }

            input:checked ~ span:after {
                content: '\f00c';
            }
        }

        // Default size
        & {
            $FX-switch-margin: 2px 0;
            $FX-switch-width: 54px;
            $FX-switch-height: 30px;
            $FX-switch-line-height: 26px;
            $FX-switch-space: 3px;
            $FX-switch-checked-tick-pos: 26px;
            $FX-switch-icon-font-size: 0.9em;

            @include FX__switch_size(
                $FX-switch-margin,
                $FX-switch-width,
                $FX-switch-height,
                $FX-switch-line-height,
                $FX-switch-space,
                $FX-switch-checked-tick-pos,
                $FX-switch-icon-font-size
            );
        }

        // Large size
        &.fx-switch-lg {
            $FX-switch-margin: 2px 0;
            $FX-switch-width: 72px;
            $FX-switch-height: 40px;
            $FX-switch-line-height: 34px;
            $FX-switch-space: 3px;
            $FX-switch-checked-tick-pos: 34px;
            $FX-switch-icon-font-size: 1em;

            @include FX__switch_size(
                $FX-switch-margin,
                $FX-switch-width,
                $FX-switch-height,
                $FX-switch-line-height,
                $FX-switch-space,
                $FX-switch-checked-tick-pos,
                $FX-switch-icon-font-size
            );
        }

        // Small size
        &.fx-switch-sm {
            $FX-switch-margin: 2px 0;
            $FX-switch-width: 38px;
            $FX-switch-height: 24px;
            $FX-switch-line-height: 20px;
            $FX-switch-space: 2px;
            $FX-switch-checked-tick-pos: 16px;
            $FX-switch-icon-font-size: 0.8em;

            @include FX__switch_size(
                $FX-switch-margin,
                $FX-switch-width,
                $FX-switch-height,
                $FX-switch-line-height,
                $FX-switch-space,
                $FX-switch-checked-tick-pos,
                $FX-switch-icon-font-size
            );
        }

        // Form group
        .form-group.row & {
            margin-top: 0.15rem;

            &.fx-switch-lg {
                margin-top: 0rem;
                position: relative;
                top: -0.3rem;
            }

            &.fx-switch-sm {
                margin-top: 0.3rem;
            }
        }     
    }
}

// Component Size
@mixin FX__switch_size($margin, $width, $height, $line-height, $space, $checked_tick_pos, $icon-font-size) {
    input:empty ~ span {
        line-height: $height;                
        margin: $margin;
        height: $height;
        width: $width + $space;
        border-radius: ($height/2); 
    }

    input:empty ~ span:before, 
    input:empty ~ span:after {
        width: $width;
        border-radius: ($height/2); 
    }

    input:empty ~ span:after {
        height: $height - 2 * $space;
        width: $height - 2 * $space;
        line-height: $line-height !important;
        top: $space;
        bottom: $space;
        margin-left: $space;
        font-size: $icon-font-size;
        text-align: center;
        vertical-align: middle;
    }

    input:checked ~ span:after {
        margin-left: $checked_tick_pos;
    }
}

// Component Skin
@mixin FX__switch_skin() {
    $base_color: #e8ebf1;

    .fx-switch {
        // Panel bg
        input:empty ~ span:before {
            background-color: $base_color;
        }

        // Tick bg
        input:empty ~ span:after {
            color: lighten($base_color, 5%); 
            background-color: #ffffff; 
        }

        // Checked state 
        input:checked {
            // Panel bg
            ~ span:before {
                background-color: $base_color;
                //box-shadow: 0px 3px 20px 0px rgba($base-color, 0.41);
            }

            // Tick bg
            ~ span:after {
                background-color: #fff;
                color: $base_color;
                box-shadow: 0px 3px 20px 0px rgba($base-color, 0.41);
            }
        }

        input[disabled] {
            cursor: not-allowed;

            ~ span:after,
            ~ span:before {
                cursor: not-allowed;
                opacity: 0.7;
            }        
        }

        // States
        @each $name, $color in $FX-colors-state {
            // states 
            &.fx-switch-#{$name}:not(.fx-switch_outline) {
                input:empty ~ span:before {
                    background-color: FX__get($color, base);
                }

                input:empty ~ span:after {
                    color: FX__get($color, base);
                    background-color: FX__get($color, inverse);
                    opacity: 0.4;
                }

                input:checked {
                    // Panel bg
                    ~ span:before {
                        background-color: FX__get($color, base);
                    }

                    // Tick bg
                    ~ span:after {
                        opacity: 1;
                    }
                }
            }

            // outline style states
            &.fx-switch-outline.fx-switch-#{$name} {
                input:empty ~ span:before {
                    border: 2px solid darken($base-color, 3%);
                    background-color: $base-color;
                }

                input:empty ~ span:after {
                    color: FX__get($color, inverse);
                    background-color: FX__get($color, base);
                }

                input:checked {
                    // Panel bg
                    ~ span:before {
                        background-color: FX__get($color, inverse);
                    }

                    // Tick bg
                    ~ span:after {
                        background-color: FX__get($color, base);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// Component Base
@include FX__switch_base();

// Component Skin
@include FX__switch_skin();