<form class="d-inline-block" method="post" action="{{ path('demande_delete', {'id': demande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande.id) }}">
    <a href="{{ path('demande_index') }}" class="btn btn-danger mb-0 {{button_size}}">
    	<i data-feather="trash" class="pr-1"></i>
    	<span class="pl-1 align-middle">Supprimer</span>
    </a>
</form>
