{% extends 'base.html.twig' %}

{% block title %}New Demande{% endblock %}

{% block body %}
    <div class="fx-card fx-card-tabs">
        <div class="fx-card-head align-items-center">
            <div class="fx-card-head-container">
              <h3 class="fx-card-head-title text-capitalize">
                Create new demande
              </h3>
            </div>
            <div class="fx-card-head-toolbar">
                <div>
                    <a href="{{ path('demande_index') }}" class="btn btn-dark mb-0">
                        <i data-feather="arrow-left" class="pr-1"></i>
                        <span class="pl-1 align-middle">Afficher les demandes</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="fx-card-body">
            {{ include('demande/forms/_form_activation.html.twig') }}
        </div>
    </div>

{% endblock %}
