{% extends 'base.html.twig' %}

{% block title %}New DirecteurPedagogique{% endblock %}

{% block body %}
    <h1>Create new DirecteurPedagogique</h1>

    {{ include('directeur_pedagogique/_form.html.twig') }}

    <a href="{{ path('directeur_pedagogique_index') }}">back to list</a>
{% endblock %}
