<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700|Roboto:400,500,700&display=swap"
        rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Author -->
        <meta name="author" content="suptech">

        <!-- Below tag will be used for android mobile browser colors, change it to main logo color of the project -->
        <meta name="theme-color" content="#393939">

        <title>{% block title %}We!{% endblock %}</title>

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('sweetalert') }}

            <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>

        {% include 'layout/header.html.twig' %}

        
        {% block body %}{% endblock %}
        
        {% include 'layout/footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('sweetalert') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>
