<footer class="fx-footer fx-section-space-4 overflow-hidden fx-bg-brand px-5">
  <div class="container">
    <!-- Logo -->
    <div class="footer-logo text-center">
      <h4 class="h1 fx-text-bolder fx-text-light ml-0 mb-5"> Diploma ✨</h4>
    </div>
    <!-- ./End Logo -->
    <!-- Links -->
    <div class="footer-links">
      <ul class="list-unstyled mb-0 d-flex justify-content-around">
        <li class="mb-2">
          <a class="fx-font-size-1 pb-2 fx-lined-link fx-text-light text-capitalize fx-text-regular" href="#"> Accessibilité </a>
        </li>
        <li class="mb-2">
          <a class="fx-font-size-1 pb-2 fx-lined-link fx-text-light text-capitalize fx-text-regular" href="#"> Privacy policy </a>
        </li>
        <li class="mb-2">
          <a class="fx-font-size-1 pb-2 fx-lined-link fx-text-light text-capitalize fx-text-regular" href="#"> FAQs </a>
        </li>
        <li class="mb-2">
          <a class="fx-font-size-1 pb-2 fx-lined-link fx-text-light text-capitalize fx-text-regular" href="#"> Contact Us </a>
        </li>
        <li class="mb-2">
          <a class="fx-font-size-1 pb-2 fx-lined-link fx-text-light text-capitalize fx-text-regular" href="#"> Mentions Légales </a>
        </li>
      </ul>
    </div>
    <!-- ./End Links -->
    <!-- lists -->
    <div class="text-center mt-5">
      <p class="fx-text-light fx-text-thin fx-font-size-1 mb-0">© Diploma 2020. All rights reserved.</p>
    </div>
  </div>
</footer>